@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: none;
    background-color: #54BAB9;
  }

  ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
  }
  
  li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
  }
  
  ul li{
      list-style-type: none;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
  }
  
  ul li:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
  }
  
  button {
    padding: 7px 20px 7px 20px;
    border: none;
    background-color: whitesmoke;
    font-size: 14px;
    color: #18978F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*style hero*/
  #hero {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    height: 455px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    background-color: #54BAB9;
    color: whitesmoke;
  }

  #hero .hero-text {
    width: 50%;
    line-height: 2;
    margin-bottom: 20px;
  }

  #hero .hero-text h1 {
    font-size: 40px;
    width: 100%;
  }

  #hero .hero-text p {
    width: 100%;
    font-size: 15px;
  }

  #hero .hero-img {
    width: 30%;
  }

  /*style misi*/
  #misi {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    color: whitesmoke;
  }

  #misi .misi-text {
    width: 80%;
    background-color: #18978F;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
  }

  #misi .misi-text h1 {
    font-size: 20px;
    color: aliceblue;
  }

  #misi .misi-text p {
    width: 100%;
    font-size: 15px;
    padding: 15px;
    color: whitesmoke;
  }

  #misi .misi-img {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }

  #misi .misi-text > button {
    padding: 7px 20px 7px 20px;
      border: none;
      background-color: whitesmoke;
      font-size: 14px;
      color: #18978F;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  }

  #misi .misi-text > button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*style about-bullying*/
#about-bullying {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    background-color: #18978F;
    color: whitesmoke;
}

#about-bullying .about-bullying-text {
    width: 40%;
}

#about-bullying .about-bullying-text p {
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 15px;
}

#about-bullying .about-bullying-img {
    justify-content: center;
    padding-top: 10px;
  }

#fitur {
  background-image: url("https://i.postimg.cc/PxbxSLxQ/back2.png");
  background-size: cover;
  background-color: white;
  padding: 30px;
}

#fitur .fitur-text {
    color: #18978F;
    font-size: 20px;
    text-align: center;
    font-size: 16px;
}

#fitur .fitur-content {
    justify-content: space-around;
    color: #18978F;
    display: flex;
}

#fitur .fitur-content .fitur-contents {
    width: 300px;
    background-color: #18978F;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
}

.fitur-content .fitur-contents ul li {
    color: whitesmoke;
    text-align: center;
}

.fitur-content p {
    font-size: 12px;
    padding: 20px 0px 20px 0px;
    color: whitesmoke;
}

.fitur-content h2 {
   padding: 20px 0px 0px 0px;
   color: whitesmoke;
   font-size: 16px;
}

#feedback {
    padding: 30px;
}

.feedback-text {
    font-size: 16px;
    text-align: center;
    color: #18978F;
}

.feedback-comment {
    justify-content: space-around;
    display: flex;
    padding: 15px;
}

.feedback-comments {
    width: 33%;
    padding: 40;
    margin: 40px;
    font-size: 14px;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.feedback-comments h2 {
    padding: 10px;
    color: #303030;
    font-size: 16px;
}

.feedback-comments p {
    color: #303030;
}

/*style form*/
form {
  background-image: url("https://i.postimg.cc/PxbxSLxQ/back2.png");
  background-size: cover;
  background-color: white;
  padding: 30px;
  }

  #form .form-data h1 {
    text-align: center;
    color: #18978F;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  form input {
    padding: 5px;
  }
  
  #FormData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="checkbox"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #18978F;
    border-radius: 5px;
  }
  
  /* Style the label */
  label {
    font-size: 12px;
      display: flex;
      align-items: center; 
      gap: 10px; 
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #18978F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] > button:hover {
    transform: scale(1.1);
  }


  footer {
    background-color: #18978F;
    padding: 30px;
  }

  .row {
    display: flex;
    width: 90%;
    margin-left: 30px;
  }

  .footer-col {
    width: 25%;
    padding-left: 90px;
  }

  .footer-col h4{
   color: whitesmoke;
   font-size: 13px;
  }

  .footer-col1 h4 {
    color: whitesmoke;
    font-size: 13px;
    padding-left: 80px;
   }

   .footer-col1 img {
    margin-left: 70px;
   }
  .social-icons {
    margin-left: 100px;
  }

  .social-icons li {
    padding:0;
    list-style-type: none;
    display: inline-block;
  }

  .footer-col1 .social-icons i svg {
    fill: #fff;
  }

  .footer-col a {
    color: #fff;
  }